* {
    transition: all ease 0.5s;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white !important;
}

.nav {
    background-color: rgb(141, 141, 141) !important;
    z-index: 2;
}